# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# MemoryCaptures
MemoryCaptures/

# Asset meta data should be included
!*.meta

# IDE files
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS files
.DS_Store
Thumbs.db

# Unity cache
*.apk
*.aab
*.unitypackage

# Crash reports
sysinfo.txt

# Builds (important for your case)
Build/
Builds/
WebGL/
# Visual Studio / Rider
*.csproj
*.sln
*.slnx

# VS Code (optional)
.vscode/

# Archives
*.zip